.myimg{
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding: 0px;
	border: 3px solid ghostwhite;
	outline: 0px;
}
#header{
	text-align: center;
}
body{
	background-image: url(https://www.freepnglogos.com/uploads/supernatural-logo/supernatural-logo-season-png-0.jpg) ;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'times new roman';
	color: #3D555F;
}
mark{
	background-color: ghostwhite;
}
#desc1{
	font-size: 30px;
}
#desc2{
	margin-left: 150px;
	font-size: 30px;
}
#desc3{
	margin-left: 150px;
	font-size: 30px;
}
ul{
	font-size: 20px;
	width: 60%;
}